
/* Main Styles */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f5f7fa;
}

/* HEADER */
header {
    position: fixed;
    top: 20px;
    left: 120px;
    right: 120px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        top: 20px;
        left: 10px;
        right: 10px;
        background: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        padding: 12px 20px;
    }
}
.logo {
    font-size: 22px;
    font-weight: 700;
    color: #3b7cff;
}

@media (max-width: 768px) {
    .logo {
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #111;
}

@media (max-width: 768px) {
    nav.desktop-nav {
        display: none;
    }
}
.header-contacts {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #3b7cff;
    font-weight: 500;
}

@media (max-width: 425px) {
    .header-contacts {
        display: none;
    }
}
.header-contacts .contact-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .header-contacts .contact-item:nth-child(1),
    .header-contacts .contact-item:nth-child(2) {
        display: none;
    }

    .header-contacts .contact-item:nth-child(3) {
        display: flex;
        order: 3;
        align-items: center;
        gap: 10px;
        font-size: 14px;
    }
}
.header-contacts img {
    width: 25px;
    height: 25px;
}

/* MAIN */
main {
    background: #f4f4f4;
}

/* FOOTER */
footer {
    background: #0d1321;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-grid {
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

@media (max-width: 425px) {
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 30px;
    }
}
.footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.footer-item img {
    width: 20px;
}

.footer-title {
    font-weight: 600;
    opacity: 0.7;
}

.footer-bottom {
    font-size: 13px;
    opacity: 0.7;
}

/* HERO SECTION */
.hero {
    position: relative;
    overflow: hidden;
    padding: 120px 120px;

    @media (max-width: 768px) {
        padding: 50px 20px;
        min-height: 600px;
    }
}

.hero-top {
    position: relative;
    z-index: 3;
    max-width: 600px;
    margin-right: 45%;
    @media (max-width: 425px) {
        margin-right: 0;
    }
}
.hero-top p{
    @media (max-width: 425px) {
        margin-bottom: 300px;
    }
}
.hero-top h1{
    span {
        color: #3b7cff;
    }
}
/* Контейнер для колонок */
.hero-columns {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-50%) rotate(-15deg);
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 1000px;
    z-index: 1;
    pointer-events: none;
}

.hero-column {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-column--left {
    --flow-start: 70%;
    --flow-end: -70%;
    width: 820px;
    height: 2304px;
    background-image: url('../img/column-left.webp');
    animation: columnFlowUp 15s linear infinite;
    z-index: 1;
    @media (max-width: 768px) {
        height: 100%;
        --flow-start: 100%;
        --flow-end: -100%;
    }
}

.hero-column--right {
    --flow-start: -70%;
    --flow-end: 70%;
    margin-left: -340px;
    width: 585px;
    height: 2304px;
    background-image: url('../img/column-right.webp');
    animation: columnFlowDown 15s linear infinite;
    z-index: 0;
    @media (max-width: 768px) {
        width: 50%;
        height: 100%;
        margin-left: -250px;
        --flow-start: -100%;
        --flow-end: 100%;
    }
}

@keyframes columnFlowUp {
    0% {
        transform: translateY(var(--flow-start, 70%));
    }
    100% {
        transform: translateY(var(--flow-end, -70%));
    }
}

@keyframes columnFlowDown {
    0% {
        transform: translateY(var(--flow-start, -70%));
    }
    100% {
        transform: translateY(var(--flow-end, 70%));
    }
}


.consult-box {
    background: #fff;
    padding: 26px;
    border-radius: 14px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
    display: grid;
    align-items: center;
    justify-content: space-between;
}

.consult-box h3 {
    margin: 0 0 20px;
    font-size: 18px;
    font-weight: 600;
}

.consult-form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: space-between;
}
.hero-left {
    display: grid;
    align-items: center;
    align-content: space-between;
    width: 50%;
}

@media (max-width: 768px) {
    .hero-left {
        width: 60%;
    }
}
@media (max-width: 425px) {
    .hero-left {
        width: 100%;
    }
}
.hero-left h1 {
    font-size: 50px;
    line-height: 1.25;
    font-weight: 700;
    color: #111;
}

@media (max-width: 768px) {
    .hero-left h1 {
        font-size: 25px;
        line-height: 1.25;
        font-weight: 700;
        color: #111;
    }
}
.hero-left h1 span {
    color: #3b7cff;
}

.hero-left p {
    font-size: 21px;
    color: #1e1e1e;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .hero-left p {
        font-size: 15px;
    }
}
.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #888;
    font-size: 16px;
}

.form-field input {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
}

.form-field button {
    width: 15%;
    text-align: left;
    padding: 10px;
    margin: 20px 20px 0 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-content: flex-start;
    line-height: 1.5;
    white-space: normal;
}

.btn-primary {
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #3b7cff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: background 0.2s ease-in-out;
}

.btn-primary:hover {
    background: #1e5fff;
}

.hero-right {
    width: 60%;
    height: 400px;
    background: #eaeaea;
    border-radius: 20px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
}
.menu-icon .burger-icon {
    font-size: 28px;
    color: #3b7cff;
    line-height: 1;
    cursor: pointer;
    display: inline-block;
}

.mobile-menu {
    display: none;
}

/* DEVELOPMENT CYCLE */
.development-cycle {
    background: white;
    padding: 120px;
}

@media (max-width: 768px) {
    .development-cycle {
        padding: 20px;
    }
}
.development-cycle h2 {
    color: #000000;
    margin: 0px;
    font-size: 30px;
}

.cycle-content {
    display: flex;
}

@media (max-width: 425px) {
    .cycle-content {
        flex-direction: column;
    }
}
.cycle-left {
    display: flex;
    flex-direction: column;
}

.cycle-left h3 {
    color: #000000;
    margin: 20px 0 10px;
    font-size: 20px;
}

.cycle-left p {
    line-height: 1.8;
    color: #4c4c4c;
    margin-bottom: 15px;
    max-width: 450px;
}

.cycle-left p span {
    color: #3b7cff;
    font-weight: 600;
}

.cycle-right {
    line-height: 2;
    font-size: 19px;
    margin-right: 60px;
    margin-left: 30px;
}

@media (max-width: 425px) {
    .cycle-right {
        width: 100%;
        margin-left: 0;
    }
}
.cycle-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cycle-right li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.cycle-right li::after {
    content: ">";
    color: #007bff;
    margin-left: 5px;
}

.cycle-right a {
    text-decoration: none;
    color: #000;
    font-weight: 400;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
}

.cycle-right a:hover {
    text-decoration: underline;
    text-decoration-color: #add8e6;
    font-weight: bold;
    color: #000;
}

/* МОБИЛЬНОЕ МЕНЮ */
.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    display: none;
}

.mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.mobile-menu-logo {
    font-size: 20px;
    font-weight: 700;
    color: #3b7cff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-menu-close {
    margin-left: auto;
}

.mobile-menu-close .close-icon {
    font-size: 32px;
    color: #333;
    cursor: pointer;
    line-height: 0.8;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mobile-nav-item {
    padding: 15px 0;
    font-size: 18px;
    color: #111;
}

.mobile-nav-item:last-child {
    border-bottom: none;
}

.mobile-contacts {
    padding: 10px;
}

.mobile-contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    color: #3b7cff;
    font-size: 14px;
}

.mobile-contact img {
    width: 20px;
    height: 20px;
}